:root {
  --white: #ffffff;
  --border: #ecebf5;
  --border-2: #e1e1eb;
  --black: #060213;
  --grey: #696d8c;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gelion', sans-serif;
}

html {
  font-size: 62.5%;

  @media (max-width: 1300px) {
    font-size: 60%;
  }

  @media (max-width: 1200px) {
    font-size: 55%;
  }

  @media (max-width: 1100px) {
    font-size: 50%;
  }

  @media (max-width: 1000px) {
    font-size: 45%;
  }

  @media (max-width: 900px) {
    font-size: 40%;
  }

  @media (max-width: 800px) {
    font-size: 35%;
  }

  @media (max-width: 700px) {
    font-size: 30%;
  }

  @media (max-width: 600px) {
    font-size: 25%;
  }

  @media (max-width: 500px) {
    font-size: 20%;
  }

  @media (max-width: 400px) {
    font-size: 15%;
  }
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Gelion', sans-serif;
  background-color: var(--white);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    display: none;
  }
}
